/*Google Fonts Import*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Moderustic:wght@300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*General Selection to change default outlook of website*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Body styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #03045e;
    font-family: 'Moderustic', sans-serif;
}

h1{
    font-family: 'Lora', sans-serif;
    color: #03045e;
}

/*Style header*/
header {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*box-shadow: 0 2px 2px #03045e;*/
}

header a {
    text-decoration: none;
}

#menu a {
    color: #03045e;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-size: 105%;
}

#menu>li {
    margin-bottom: 1rem;
}


.active {
    border-bottom: 3px solid #03045e;
    border-radius: 0 0 1% 1%;
}

/*Style navigation elements*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #03045e;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-tog:checked~nav {
    display: block;
}

#nav-tog {
    display: none;
    /*The checkbox won't show*/
}

.nav-tog-label {
    font-size: 1.7rem;
    color: #03045e;
}

/* Main content grows to take up available space and it's contents are centered */
main {
    flex: 1;
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}

#robodiv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 1.5rem;
}

.special-text{
    display: block;
    font-size: 1.5rem;
    border-bottom: 2px solid #ffffff;
    background-color: #03045e;
    color: #ffffff;
    margin-bottom: 1.5em;
    font-family: Montserrat;
}

#whyus{
    display: block;
}

/* Footer stays at the bottom */
footer {
    background-color: #03045e;
    width: 100%;
    color: white;
    padding: 20px;
    text-align: center;
}
#socials{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 0.5%;
}

#socials > li{
    list-style-type: none;
}

.fa-brands{
    color: white;
    font-size: 165%;
    padding: 3%;
}

/*media query for screens of tablets and larger */
@media screen and (min-width:768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-tog-label {
        display: none;
    }

    #header_logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*Main Content*/
    #robodiv{
        display: flex;
        align-items: center;
    }
    
    #robodiv img{
        max-width: 100%;
        height: auto;
        margin-right: 20px;
    }

    #robodiv p{
        flex: 1;
        margin: 0;
    }

    .special-text{
        display: block;
        font-size: 2.5rem;
        border-bottom: 2px solid #ffffff;
        background-color: #03045e;
        color: #ffffff;
        margin-bottom: 2em;
        font-family: Montserrat;
    }
}

/*media query for hover effect on laptops and larger*/
@media screen and (min-width:992px) {

    /*Hover effect*/
    #menu a:hover {
        border-bottom: 3px solid #03045e;
    }
}